
div.wysiwyg_modal_image {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%
}

iframe.wysiwyg_file_selector {
  border: 1px solid black;
  position: fixed;
  background: white;
  top: 20%;
  height: 30px;
  width: 50%;
  left: 25%;
}

body.wysiwyg_file_selector {
  p.caption {
    font-size: 120%;
    color: $mainmenu-color;
  }

  div.alt-field {
    margin-top: 1em;
  }

  div.uploading-message {
    font-size: 20pt;
    padding: 1em;
    text-align: center;
  }

}
